.headerSpacer {
    flex: 1 1 auto;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  li {
    text-decoration: none;
    list-style: none;
  }
  
  .bgHeader {
    background-color: #8bb9ff;
  }